:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 24px;
  color-scheme: light dark;
  color: #6AE1DD;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: "Lovelo Line Light";
    src: url('assets/fonts/LoveloLineLight.otf');
}
@font-face {
    font-family: "Josefin Sans Light";
    src: url('assets/fonts/JosefinSansLight.ttf');
}
@font-face {
    font-family: "Cardiff";
    src: url('assets/fonts/Cardiff.ttf');
}
@font-face {
    font-family: "Raweng";
    src: url('assets/fonts/RawengulksansB.otf');
}
@font-face {
    font-family: "Steiner Light";
    src: url('assets/fonts/SteinerLight.ttf');
}
@font-face {
    font-family: "Trueno Light";
    src: url('assets/fonts/TruenoLight.otf');
}
@font-face {
    font-family: "Titillium";
    src: url('assets/fonts/Titillium.ttf');
}
@font-face {
    font-family:"Josefin Sans Bold";
    src: url('assets/fonts/JosefinSansBold.ttf');
}

@font-face {
    font-family:"Falling Sky Cond";
    src: url('assets/fonts/FallingSkyCond.otf');
}
html {
    background-color: #00001d;
    /* background: radial-gradient(circle, #27285e, #1f2050, #181942,#0f0330); */
}
h1 {
    font-family: "Falling Sky Cond", sans-serif;
}
h2 {
    font-family: "Josefin Sans Light", sans-serif;
}
h3 {
    font-family: "Raweng", sans-serif;
}
h4 {
    font-family: "Josefin Sans Light", sans-serif;
}
h5 {
    font-family: "Falling Sky Cond", sans-serif;
}
h6 {
    font-family: "Trueno Light", sans-serif;
}
div {
    font-family: "Josefin Sans Bold", sans-serif;
}
p {
    font-family: "Josefin Sans Light", sans-serif;
}

html {
    background-color: #00001d;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #3911457b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #00001d;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgb(141, 141, 141)
  }
}

.icon{ 
    display: inline-block;
    align-self: center;
}

.icon2{ 
    display: inline;
    margin-top: -2.5rem;
    padding: 0.65rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.gallery {
   border-radius: 0.1rem;
}
.gallery:hover {
   transform: scale(1.01);     
   box-shadow:  0rem 0rem 0.4rem 0.2rem #6AE1DD;
}
body::-webkit-scrollbar-track {
    background-color: #aaaaaa;
  }
  
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #007fea;
    border-radius: 1px;
  }  

  @keyframes spin { 
    100% { 
        -webkit-transform: rotate(30deg); 
        transform:rotate(30deg); 
    } 
}